<<<<<<< HEAD
/* Seleciona todos os elementos */
* {
    /* Remove margens e preenchimentos padrão */
    margin: 0;
    padding: 0;
    /* Define o modelo de caixa para incluir borda e padding no tamanho total */
    box-sizing: border-box; 
}

/* Remove estilos de lista padrão (bolinhas/números) */
ol, ul {
    list-style: none;
}

/* Garante que imagens e mídia sejam responsivas e não ultrapassem seus contêineres */
img, video {
    max-width: 100%;
    height: auto;
    display: block;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    max-width: 9rem;
}

.menu ul {
    display: flex;
    /* Use 'rem' ou 'px' para definir a distância entre os links */
    gap: 2rem;
    margin-right: 1rem; 
    font-size: 25px
}

.menu a {
    /* O display: block ou inline-block ajuda a aplicar padding/margin no link se precisar */
    display: inline-block; 
    text-decoration: none; /* Remove o sublinhado */
    color: inherit;        /* Herda a cor do texto do pai */
    /* Você pode adicionar padding: 0.5rem 1rem; aqui se quiser aumentar a área de clique */
}
=======
.servicos {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-direction: row;
    padding: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.servicos .serv-divs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    background-color: rgb(250, 250, 250);
    border-radius: 0.5rem;
}

.servicos .serv-divs:hover {
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgb(216, 216, 216);
    background-color: rgb(240, 240, 240);
    transform: scale(1.02);
    transition: all 0.1s ease-in-out;
}

.servicos .serv-divs h1 {
    font-size: 2rem;
    color: black;
}

.servicos .serv-divs p {
    font-size: 1.2rem;
    text-align: center;
    color: black;
}
>>>>>>> f42aaeb904fae4a72172552d95f65c745f83a97c
