/*================================================= */
/* Seção do rodapé */
/*================================================= */

footer {
    /* Centralizando conteúdo com flexbox */
    display: flex; /* Ativa o Flexbox */
    flex-direction: column; /* Empilha os itens verticalmente */
    align-items: center; /* Centraliza os itens na horizontal */

    /* Estilo e cores */
    background-color: #2c3e50; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 25px 0; /* Espaçamento interno */
}
/* Estilizando as redes sociais */
footer a {
    text-decoration: none; /* Remove o sublinhado */
    color: white; /* Icones brancos */
    margin: 6px 15px; /* Espaçamento entre os ícones */
    /* efeito para hoover ficar suave */
    transition: color 0.3s ease;
}
footer a i {
    font-size: 1.8; /* torna os ícones quase duas vezes maiores */

}

footer a:hover {
    color: #1abc9c; /* Cor ao passar o mouse */

}