/* Seleciona todos os elementos */
* {
    /* Remove margens e preenchimentos padrão */
    margin: 0;
    padding: 0;
    /* Define o modelo de caixa para incluir borda e padding no tamanho total */
    box-sizing: border-box; 
}

/* Remove estilos de lista padrão (bolinhas/números) */
ol, ul {
    list-style: none;
}

/* Garante que imagens e mídia sejam responsivas e não ultrapassem seus contêineres */
img, video {
    max-width: 100%;
    height: auto;
    display: block;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    max-width: 9rem;
}

.menu ul {
    display: flex;
    /* Use 'rem' ou 'px' para definir a distância entre os links */
    gap: 2rem;
    margin-right: 1rem; 
    font-size: 25px
}

.menu a {
    /* O display: block ou inline-block ajuda a aplicar padding/margin no link se precisar */
    display: inline-block; 
    text-decoration: none; /* Remove o sublinhado */
    color: inherit;        /* Herda a cor do texto do pai */
    /* Você pode adicionar padding: 0.5rem 1rem; aqui se quiser aumentar a área de clique */
}